@media only screen and (max-width: 380px) {
    body {
      background-color: lightblue;
    }

    .settings{
        padding-right: unset; 
        padding-left: unset;
        width: unset;
    }
   .result{
    padding-right: unset;  
    padding-left: unset;
    /* padding-left: 25%; */
   }
   .result-ul{
    padding-left: 27%;
   }
   .card{
    width: 100%;
   }
   .card img{
    width: 100%;
   }
  }

  @media only screen and (max-width: 415px) {
    body {
      background-color: lightblue;
    }
    .slider.slider-horizontal{
        width: 150px;
    }
    .settings{
        padding-right: unset; 
        padding-left: unset;
        width: unset;
    }
   .result{
    padding-right: unset;  
    padding-left: unset;
    
   }
   .result-ul{
    padding-left: 27%;
   }
   .card{
    width: 100%;
   }
   .card img{
    width: 100%;
   }
  }

