.header{
    background: #efefef;
font-size: 50px;
color: #6c757d;
padding: 1em;
text-align: center;
}
.settings{
    background: #6e6e6e;

color: #dce0e4;
padding: 1em;
padding-right: 20em;
padding-left: 20em;
text-align: center;
}
.result{
    background: #c9c8c8;

color: #626364;
padding: 1em;
padding-right: 20em;
padding-left: 20em;
text-align: center;
}
#ex1Slider .slider-selection {
background: #BABABA;
}

.br-theme-bars-reversed .br-widget a {
background-color: pink;
}

.br-theme-bars-reversed .br-widget a.br-active,
.br-theme-bars-reversed .br-widget a.br-selected {
background-color: #ff446a;
}

.br-theme-bars-reversed .br-widget .br-current-rating {
color: #ff446a;
font-size: 20px;  
}



/* Style the Image Used to Trigger the Modal */
#myImg {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1000;/* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
height: 80%;
}
.modal-content-star {
margin: auto;



}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}
.result-ul{
width: 100%;padding-right: 5%;padding-left: 38%;margin-right: auto;margin-left: auto;
}
footer{
background: darkslategray;
color: white;
padding: 7em;
text-align: center;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
width: 100%;
}
}